html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); // nos hará breakpoints cada 300px
  gap: 50px 20px;
}
.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 1110px;
    padding-left:16px;
    padding-right:16px;
  }
}
.crop-image {
  display: block;
  height: 300px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}